{% extends "fons.html" %}
{% block content %}

<div class="row justify-content-center mt-5">
	<div class="col-md-4">
	    <h1>Par mājaslapu</h1>
	    <div>
	        <p>
	            Šī mājaslapa palīdz noteikt latviešu valodas lietvārdu deklināciju 
	            un apskatīt to locījumus automātiski.
	        </p>
	    </div>
	    <div >
	        <h2>Kā lietot</h2>
	        <ol>
	            <li>Ievadi vārdu ievades laukā</li>
	            <li>Izvēlies dzimti</li>
	            <li>Nospied pogu "Pārbaudīt"</li>
	            <li>Apskati rezultātus tabulā</li>
	        </ol>
	    </div>
	    <div>
	        <h2>Kā tas palīdz</h2>
	        <ul>
	            <li>Palīdz apgūt latviešu valodas gramatiku</li>
	            <li>Noder skolēniem un studentiem</li>
	            <li>Ātri pārbauda pareizās galotnes</li>
	            <li>Var izmantot kā mācību rīku</li>
	        </ul>
	    </div>
	    <div>
	        <h2>Ierobežojumi</h2>
	        <ul>
	            <li>Daži izņēmuma vārdi var nebūt pilnīgi precīzi</li>
	            <li>Nelokāmi lietvārdi netiek atbalstīti</li>
	            <li>Rezultāti balstīti uz vispārīgiem likumiem</li>
	        </ul>
	    </div>
	    <div>
	        <h2>Mērķis</h2>
	        <p>
	            Mērķis ir padarīt latviešu valodas deklinēšanu vienkāršu, ātru un saprotamu.
	        </p>
	    </div>
	</div>
</div>
{% endblock %}