{% extends "fons.html" %}
{% block content %}
<h1 class="text-center">Latviešu valodas gramatikas tabulas</h1>
<div class="container">
	<div class = 'justify-content-md-center'>
		<h2 class="text-center">Vārdšķiras</h2>
		<table class="table">
			<tr class="text-center">
				<th>Vārdšķira</th>
				<th>Apraksts</th>
				<th>Piemērs</th>
			</tr>
			<tr>
				<td>Lietvārds</td>
				<td>Lietvārds jeb substantīvs ir patstāvīga un lokāma vārdšķira, kuras vārdi nosauc objektus, procesus, pazīmes, abstraktus jēdzienus.</td>
				<td>Cilvēks</td>
			</tr>
			<tr>
				<td>Darbības vārds</td>
				<td>Darbības vārds jeb verbs ir patstāvīga vārdšķira, kas izsaka darbību vai stāvokli.</td>
				<td>Skriet</td>
			</tr>
			<tr>
				<td>Īpašības vārds</td>
				<td>Īpašības vārdi jeb adjektīvi ir patstāvīga vārdšķira, kas nosauc priekšmetu, parādību, procesu pazīmes vai īpašības.</td>
				<td>Skaists</td>
			</tr>
			<tr>
				<td>Vietniek vārds</td>
				<td>Vietniekvārdi jeb pronomeni ir vārdšķira, kuras vārdus lieto, lai aizstātu nomenus (lietvārdus, īpašības vārdus). Vietniekvārdi nenosauc priekšmetu, pazīmi vai procesu, bet tikai norāda uz to.</td>
				<td>Viņš</td>
			</tr>
			<tr>
				<td>Apstākļa vārds</td>
				<td>Apstākļa vārds jeb adverbs ir patstāvīga, nelokāma vārdšķira, kas nosauc darbības, īpašības un apstākļu pazīmes. Apstākļa vārdi tuvāk paskaidro darbības vārdu, īpašības vārdu vai citu apstākļa vārdu.</td>
				<td>Augšā</td>
			</tr>
			<tr>
				<td>Skaitļa vārds</td>
				<td>Skaitļa vārds jeb numerālis ir patstāvīga, deklinējama vārdšķira, kas nosauc priekšmetu skaitu vai arī secību.</td>
				<td>Desmit</td>
			</tr>
			<tr>
				<td>Partikula</td>
				<td>Partikula ir nelokāmu palīgvārdu vārdšķira. Partikulas pauž runātāja vai rakstītāja attieksmi pret teikumā raksturoto situāciju, izsaka teikuma komunikatīvo statusu. Partikulas piešķir kādu nozīmes niansi vārdam teikumā vai pašam teikumam.</td>
				<td>Varbūt</td>
			</tr>
			<tr>
				<td>Izsauksmes vārds</td>
				<td>Izsauksmes vārds jeb interjekcija ir vārdšķira, pie kuras pieder vārdi, kuri ir nelokāmi un kuri pauž jūtas, gribu, pievērš uzmanību.</td>
				<td>Ai</td>
			</tr>
			<tr>
				<td>Prievārds</td>
				<td>Prievārds jeb prepozīcija ir nelokāmu palīgvārdu vārdšķira. Prievārdi izsaka dzīvu būtņu, priekšmetu, norišu konkrētas un izsecinātas attieksmes, kā arī rāda pakārtojuma sakaru starp vārdiem.</td>
				<td>Aiz</td>
			</tr>
			<tr>
				<td>Saiklis</td>
				<td>Saiklis jeb konjunkcija ir nelokāmu palīgvārdu vārdšķira. Saikļi norāda uz dažādām jēdzieniskajām un gramatiskajām attieksmēm starp vārdiem, vārdkopām, salikta teikuma daļām, kā arī starp patstāvīgu teikumu un tā iepriekšējo kontekstu.</td>
				<td>Un</td>
			</tr>
		</table>
	</div>
</div>
<div class="container">
	<div class = 'row justify-content-md-center' style="column-gap: 15px;">
		<div class = 'col-3'>
			<h2 class="text-center">Locījumu tabula</h2>
			<table class="table">
					<tr class="text-center">
						<th>Locījums</th>
						<th>Jautajums</th>
						<th>Piemērs</th>
					</tr>
					<tr>
						<td>Nominatīvs</td>
						<td>Kas?</td>
						<td>Cilvēks</td>
					</tr>
					<tr>
						<td>Ģenetīvs</td>
						<td>Kā?</td>
						<td>Cilvēka</td>
					</tr>
					<tr>
						<td>Datīvs</td>
						<td>Kam?</td>
						<td>Cilvēkam</td>
					</tr>
					<tr>
						<td>Akuzatīvs</td>
						<td>Ko?</td>
						<td>Cilvēku</td>
					</tr>
					<tr>
						<td>Instrumentālis</td>
						<td>Ar ko?</td>
						<td>Ar cilvēku</td>
					</tr>
					<tr>
						<td>Lokatīvs</td>
						<td>Kur?</td>
						<td>Cilvēkā</td>
					</tr>
					<tr>
						<td>Vokatīvs</td>
						<td>-</td>
						<td>Cilvēks!</td>
					</tr>
			</table>		
		</div>
		<div class = 'col-3'>
			<h2 class="text-center">Vārdšķiras</h2>
			<table class="table">
				<tr class="text-center">
					<th>Deklinācija</th>
					<th>Galotne/es</th>
					<th>Piemērs</th>
				</tr>
				<tr>
					<td>1. deklinācija</td>
					<td>-s -š</td>
					<td>Cilvēks</td>
				</tr>
				<tr>
					<td>2. deklinācija</td>
					<td>-is</td>
					<td>Lācis</td>
				</tr>
				<tr>
					<td>3. deklinācija</td>
					<td>-us</td>
					<td>Medus</td>
				</tr>
				<tr>
					<td>4. deklinācija</td>
					<td>-a</td>
					<td>Māja</td>
				</tr>
				<tr>
					<td>5. deklinācija</td>
					<td>-e</td>
					<td>Egle</td>
				</tr>
				<tr>
					<td>6. deklinācija</td>
					<td>-s</td>
					<td>Sirds</td>
				</tr>
			</table>
		</div>
	</div>
</div>
{% endblock %}